.footer {
    background: black;
    color: #ffff;
    height: 14vh;
    text-align: center;
}

.footer-box{
    padding-bottom: 5px;

}

.footer img{
    margin-top:20px;
    width: 122px;
}

.footer p{
    margin: 0;
    font-size: 16px;
}


